/* CSS files add styling rules to your content */

html, body {
  font-family: arial;
  box-sizing: border-box;
  height: 100%;
  background-color: #fbfbfb;
  margin:0;
  padding:0;
}

.header {
  display:flex;
  flex-wrap: wrap;
}

.logo {
  display: block;
  width:500px;
  margin-left:20px;
}

.nav {
  margin-left:auto;
  margin-right:20px;
}

.navigation {
  list-style-type: none;
  margin:0;
  padding:0;
  display: flex;
  justify-content: space-around;
  background-color: #696969;
}

.navigation li {
  margin:10px 20px;
}

.navigation li a {
  padding:5px 15px;
  text-decoration:none;
  text-transform:uppercase;
}

.hero {
  background:url('gambar/laut.jpg') no-repeat left bottom;
  width: 100%;
  height:500px;
  background-size: cover;

}

.hero > h2 {
  margin:0;
  padding:20px;
  color: #000;
  font-size: 3em;
  text-align: center;
}
.hero button {
  margin:20px;
  padding:20px;
  border: 0;
  background-color:#fff;
  color:#000;
  font-size:1.5em;
  border-radius: 20px;
  text-transform: uppercase;
  margin-left: 43%;
  margin-top: 10%;
}

.wrap-content {
  margin:2em;
  text-align: justify;
}

.wrap-product {
  display: flex;
  justify-content: space-evenly;
  margin:2em 0;
}

.box {
  background:#fff;
  width:350px;
  text-align: justify;
  border:1px solid #eceff8;
}

.wrap-contact {
  display: flex;
  justify-content: space-evenly;
  margin:2em 0;
}

.contact-item {
  width: 400px;
}

.wrap-form {
  display: flex;
  margin:2em 0;
  justify-content: center;
}

.wrap-contactform {
  width: 400px;
}

.wrap-input {
  margin-bottom:20px;
}

.input-text, .textarea {
  border:1px solid #ddd;
  padding:10px 5px;
  border-radius: 10px;
  width: 80%;
  font-size:1em;
}

.button-submit {
  padding:20px;
  border: 0;
  background-color:#754ef9;
  color:#fff;
  font-size:1em;
  border-radius: 10px;
  text-transform: uppercase;
}

.footer {
  margin-top:4em;
  text-align: center;
  padding:3em 0;
  background-color:#152136;
  color:#fff;
}

@media (max-width: 500px){
  .logo{
    margin: 0 auto;
  }
  .nav{
    margin: 0 auto;
  }
  .product-item{
    flex-wrap: wrap;

  }
  .wrap-product{
    flex-wrap: wrap;

  }
}